

@media screen and (max-width:1200px){

}

body {
    background-color: #f2e9de;
}

a {
    text-decoration: none;
    color: #191724;
}

.grid-container {
    display: grid;
    grid-template-rows: 50% 90% 970% 50%;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "button"
    "main"
    "footer";     
}
.container{
    display: grid;
    grid-template-rows: 5% 1fr 5%;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "side header"
    "side main"
    "side footer "; 
 
}
.container ol > li {
    text-align: center;
    list-style: none;
    color: #191724;
    font-family: 'Montserrat', sans-serif;
}

.container div > h1 {
    text-align: center;
    color: #c4a7e7;

}
.container div > button {
    align-items: right;
}

.item-a {
    grid-area: header;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    color:#191724;
}

.side {
    grid-area: side;
    background-color:#fffaf3;

}

.item-b {
    grid-area: main;
    align-content: center;
    height: 90vh

}
.item-c {
    grid-area:footer;
    text-align: center;
    color: #191724;
    font-family: 'Montserrat', sans-serif;
}

.item1 {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    color:#191724;
}
.item2 {
    justify-content: left;
    align-items:left;    
}
.item3 {
    text-align: center;
}

.item4 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #191724;
    }

button {
    border: none;
    background: transparent;
    color:#191724;
    font-family: 'Montserrat', sans-serif;
}


.button-d {
    color: #eb6f92;
    font-family: 'Montserrat', sans-serif;
}

textarea{
    background:#fffaf3;
    color: #9893a5;
    font-family: 'Montserrat', sans-serif;
}

.dark-mode {
    background-color:#191724;    
}




